In [18]:
import yfinance as yf
from yahooquery import Ticker
from datetime import date, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import Price_Models as pm
import Data

def getdata():
    # Set to true to update database from online data, if false will pull data from csv files
    Update = False 
    trade_days = 256
    est_price_path = './Data/tmp.csv'

    #-- Desired interval examined --
    start_date = date(2018,11,7)
    end_date = date(2023,11,14)
    df_end = end_date + timedelta(days=1) #Add one day as yf functions don't include last day

    # Importing data
    df = Data.GetData(start_date, df_end, trade_days, Update)
    df = df.drop(columns=['symbol', 'expiration', 'lastTradeDate', 'inTheMoney'])

    def binary_vec_type(strings):
        return [int(s == "calls") for s in strings]
    def binary_vec_method(strings):
        return [int(s == "A") for s in strings]

    df.optionType = binary_vec_type(df.optionType)
    df.method = binary_vec_method(df.method)
    df.maturity = df.maturity/365
    lastprice = df.lastPrice
    df = df.drop(columns='lastPrice')
    df = df.assign(lastPrice = lastprice)
    return df
getdata()

,optionType,strike,maturity,S0,sigma,returns,method,lastPrice
0,1,70.0,0.021918,182.169998,0.332236,0.299447,1,111.95
1,1,80.0,0.021918,182.169998,0.332236,0.299447,1,102.20
2,1,85.0,0.021918,182.169998,0.332236,0.299447,1,97.25
3,1,90.0,0.021918,182.169998,0.332236,0.299447,1,92.00
4,1,95.0,0.021918,182.169998,0.332236,0.299447,1,87.00
...,...,...,...,...,...,...,...,...
12051,0,6400.0,5.049315,4080.110107,0.233724,0.097521,0,1657.47
12052,0,7200.0,5.049315,4080.110107,0.233724,0.097521,0,2238.97
12053,1,3200.0,4.767123,3855.760010,0.230280,0.076703,0,1263.84
12054,0,1400.0,4.454795,4446.819824,0.224982,0.105387,0,21.30
12055,0,5800.0,4.854795,4081.500000,0.231451,0.093039,0,1197.60

In [8]:
import yfinance as yf
from yahooquery import Ticker
from datetime import date, timedelta, datetime
# from datetime import date, timedelta
import pandas as pd
import numpy as np
import Data
start_date = date(2018,11,7)
end_date = date(2023,11,15)
df_end = end_date + timedelta(days=1) #Add one day as yf functions don't include last day
df = Data.update_stock(start_date, df_end)

In [10]:
df

,^SPX,^VIX,^NDX,^RUT,AAPL,AMZN,NFLX,GOOG
Date,,,,,,,,
2018-11-07,2813.889893,NaN,7203.129883,1582.160034,50.202904,87.774498,327.500000,54.669498
2018-11-08,2806.830078,NaN,7158.589844,1578.209961,50.027752,87.745499,317.920013,54.119999
2018-11-09,2781.010010,NaN,7039.149902,1549.489990,49.063133,85.621498,303.470001,53.307499
2018-11-12,2726.219971,NaN,6829.100098,1518.790039,46.591614,81.842499,294.070007,51.931499
2018-11-13,2722.179932,NaN,6830.910156,1514.800049,46.126106,81.558502,294.399994,51.802502
...,...,...,...,...,...,...,...,...
2023-11-09,4347.350098,NaN,15187.900391,1687.239990,182.169998,140.600006,435.149994,131.690002
2023-11-10,4415.240234,NaN,15529.120117,1705.319946,186.399994,143.559998,447.239990,134.059998
2023-11-13,4411.549805,NaN,15482.790039,1705.500000,184.800003,142.589996,444.619995,133.639999
2023-11-14,4495.700195,NaN,15812.469727,1798.319946,187.440002,145.800003,448.649994,135.429993
2023-11-15,4502.879883,NaN,15817.179688,1801.219971,188.009995,143.199997,461.940002,136.380005

In [3]:
import yfinance as yf
stock = '^VIX'
ticker = yf.Ticker(stock)
temp_data = ticker.history(start = start_date,end = df_end)[['Close']]
temp_data

                               Close
Date
2018-11-07 00:00:00-06:00  16.360001
2018-11-08 00:00:00-06:00  16.719999
2018-11-09 00:00:00-06:00  17.360001
2018-11-12 00:00:00-06:00  20.450001
2018-11-13 00:00:00-06:00  20.020000
...                              ...
2023-11-10 00:00:00-06:00  14.170000
2023-11-13 00:00:00-06:00  14.760000
2023-11-14 00:00:00-06:00  14.160000
2023-11-15 00:00:00-06:00  14.180000
2023-11-16 00:00:00-06:00  14.060000

[1265 rows x 1 columns]

In [13]:
#-- Write ticker names of desired options data --
options_identifiers = '^SPX ^NDX ^RUT ^VIX AAPL AMZN NFLX GOOG'
#-- Write ticker names of desired stock data --
stock_identifier = ['^SPX', '^VIX', '^NDX', '^RUT',  'AAPL', 'AMZN', 'NFLX', 'GOOG']

# OPTIONS WITH EXISTING DATA: ^NDX, ^RUT, ^VIX, 
# Stocks tickers: TSLA, MSFT, META, NKE, MCD, V, JPM, MS, GS, BAC

#-- Write option methods (American = 'A', European = 'E')
methods = ['E','E','E', 'E', 'A', 'A', 'A', 'A']
df_methods = pd.DataFrame({'symbol': stock_identifier, 'method': methods})

#-- Set paths for data files
stock_path = './Data/stock.csv'
option_path = './Data/options.csv'
merged_path = './Data/tmp.csv'

# The following function pulls data from yfinance and builds the stock database
def update_stock(start_date, df_end):
    tickers = []    
    # Creates the yf ticker objects for each stock_identifier entered in "stock_identifier"
    for i in stock_identifier:           
        tickers.append(yf.Ticker(i))

    # vars()[i] = yf.Ticker(i)  # Use function to create single variables for each ticker
    #-- Create dataframe with the trading dates in the interval --
    df = tickers[0].history(start = start_date,end = df_end)[['Close']] 
    df = df.drop(columns=['Close'])

    #-- Populates dataframe with data from all the stock_identifiers entered in "stock_identifier" --
    for i in range(len(tickers)):
        stock = tickers[i]
        temp_data = stock.history(start = start_date,end = df_end)[['Close']]
        temp_data = temp_data.set_index(df.index)
        df[stock_identifier[i]] = temp_data

    # Polishing date format...
    df = df.reset_index() 
    df.index = df.Date.dt.date
    df = df.drop(columns=['Date'])

    return df
update_stock(start_date, df_end)

,^SPX,^VIX,^NDX,^RUT,AAPL,AMZN,NFLX,GOOG
Date,,,,,,,,
2018-11-07,2813.889893,16.360001,7203.129883,1582.160034,50.202908,87.774498,327.500000,54.669498
2018-11-08,2806.830078,16.719999,7158.589844,1578.209961,50.027748,87.745499,317.920013,54.119999
2018-11-09,2781.010010,17.360001,7039.149902,1549.489990,49.063129,85.621498,303.470001,53.307499
2018-11-12,2726.219971,20.450001,6829.100098,1518.790039,46.591621,81.842499,294.070007,51.931499
2018-11-13,2722.179932,20.020000,6830.910156,1514.800049,46.126118,81.558502,294.399994,51.802502
...,...,...,...,...,...,...,...,...
2023-11-09,4347.350098,15.290000,15187.900391,1687.239990,182.169998,140.600006,435.149994,131.690002
2023-11-10,4415.240234,14.170000,15529.120117,1705.319946,186.399994,143.559998,447.239990,134.059998
2023-11-13,4411.549805,14.760000,15482.790039,1705.500000,184.800003,142.589996,444.619995,133.639999
2023-11-14,4495.700195,14.160000,15812.469727,1798.319946,187.440002,145.800003,448.649994,135.429993
2023-11-15,4502.879883,14.180000,15817.179688,1801.219971,188.009995,143.199997,461.940002,136.380005